/* --------------------------------------------------------------------------
 * Base
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
	color: #000;
	background: #fff;
}
ol,
ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
	vertical-align: middle;
}
caption,
th,
td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}
a img {
	border: none;
}
html,
body {
	height: 100%;
}
html {
	overflow-x: hidden;
}
body,
td,
textarea,
input {
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
	line-height: 1.6;
	font-size: 14px;
	color: #505050;
}
@media (max-width: 480px) {
	body,
	td,
	textarea,
	input {
		font-size: 12px;
	}
}
a {
	color: $primary;
	text-decoration: none;
}
a:hover {
	color: #228a8a;
}