/* ----------------------------------------------------------------------------
 * Content styling
 */
.content p,
.content ul,
.content ol,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content pre,
.content blockquote {
	padding: 10px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
.content pre {
	font-family: Menlo, monospace;
}
.content ul > li {
	list-style-type: disc;
}
.content ol > li {
	list-style-type: decimal;
}
.content ul,
.content ol {
	margin-left: 20px;
}
.content ul > li {
	list-style-type: none;
	position: relative;
}
.content ul > li:before {
	content: '';
	display: block;
	position: absolute;
	left: -17px;
	top: 7px;
	width: 5px;
	height: 5px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	border: solid 1px #82A7B0;
}
.content li > :first-child {
	padding-top: 0;
}
.content strong,
.content b {
	font-weight: bold;
}
.content i,
.content em {
	font-style: italic;
	color: #82A7B0;
}
.content code {
	font-family: Menlo, monospace;
	background: #f3f6fb;
	padding: 1px 3px;
	font-size: 0.95em;
}
.content pre > code {
	display: block;
	background: transparent;
	font-size: 0.85em;
	letter-spacing: -1px;
}
.content blockquote :first-child {
	padding-top: 0;
}
.content blockquote :last-child {
	padding-bottom: 0;
}
.content table {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
	border-collapse: collapse;
	clear: both;
	float: left;
}
.content table tr {
	border-top: 1px solid #ccc;
	background-color: #fff;
	margin: 0;
	padding: 0;
}
.content table tr :nth-child(2n) {
	background-color: #f8f8f8;
}
.content table tr th {
	text-align: auto;
	font-weight: bold;
	border: 1px solid #ccc;
	margin: 0;
	padding: 6px 13px;
}
.content table tr td {
	text-align: auto;
	border: 1px solid #ccc;
	margin: 0;
	padding: 6px 13px;
}
.content table tr th :first-child,
.content table tr td :first-child {
	margin-top: 0;
}
.content table tr th :last-child,
.content table tr td :last-child {
	margin-bottom: 0;
}