/* ----------------------------------------------------------------------------
 * Content
 */
.content-root {
	min-height: 90%;
	position: relative;
}
.content {
	padding-top: 30px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
	zoom: 1;
	max-width: 700px;
}
.content:before,
.content:after {
	content: "";
	display: table;
}
.content:after {
	clear: both;
}
.content blockquote {
	color: #82A7B0;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.content h1,
.content h2,
.content h3 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: Lato;
	padding-bottom: 0;
}
.content h1 + p,
.content h2 + p,
.content h3 + p,
.content h1 ul,
.content h2 ul,
.content h3 ul,
.content h1 ol,
.content h2 ol,
.content h3 ol {
	padding-top: 10px;
}
.content h1,
.content h2 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.5em;
}
.content h3 {
	font-size: 1.2em;
}
.content h1,
.content h2,
.content .big-heading,
body.big-h3 .content h3 {
	padding-top: 80px;
}
.content h1:before,
.content h2:before,
.content .big-heading:before,
body.big-h3 .content h3:before {
	display: block;
	content: '';
	background: -webkit-gradient(linear, left top, right top, color-stop(0.8, #dfe2e7), color-stop(1, rgba(223,226,231,0)));
	background: -webkit-linear-gradient(left, #dfe2e7 80%, rgba(223,226,231,0) 100%);
	background: -moz-linear-gradient(left, #dfe2e7 80%, rgba(223,226,231,0) 100%);
	background: -o-linear-gradient(left, #dfe2e7 80%, rgba(223,226,231,0) 100%);
	background: -ms-linear-gradient(left, #dfe2e7 80%, rgba(223,226,231,0) 100%);
	background: linear-gradient(left, #dfe2e7 80%, rgba(223,226,231,0) 100%);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.4);
	box-shadow: 0 1px 0 rgba(255,255,255,0.4);
	height: 1px;
	position: relative;
	top: -40px;
	left: -40px;
	width: 100%;
}
@media (max-width: 768px) {
	.content h1,
	.content h2,
	.content .big-heading,
	body.big-h3 .content h3 {
		padding-top: 40px;
	}
	.content h1:before,
	.content h2:before,
	.content .big-heading:before,
	body.big-h3 .content h3:before {
		background: #dfe2e7;
		left: -40px;
		top: -20px;
		width: 120%;
	}
}
.content h4,
.content h5,
.content .small-heading,
body:not(.big-h3) .content h3 {
	border-bottom: solid 1px rgba(0,0,0,0.07);
	color: #82A7B0;
	padding-top: 30px;
	padding-bottom: 10px;
}
body:not(.big-h3) .content h3 {
	font-size: 0.9em;
}
.content h1:first-child {
	padding-top: 0;
}
.content h1:first-child,
.content h1:first-child a,
.content h1:first-child a:visited {
	color: #505050;
}
.content h1:first-child:before {
	display: none;
}
@media (max-width: 768px) {
	.content h4,
	.content h5,
	.content .small-heading,
	body:not(.big-h3) .content h3 {
		padding-top: 20px;
	}
}
@media (max-width: 480px) {
	.content {
		padding: 20px;
		padding-top: 40px;
	}
	.content h4,
	.content h5,
	.content .small-heading,
	body:not(.big-h3) .content h3 {
		padding-top: 10px;
	}
}
body.no-literate .content pre > code {
	background: #f3f6fb;
	border: solid 1px #e7eaee;
	border-top: solid 1px #dbdde2;
	border-left: solid 1px #e2e5e9;
	display: block;
	padding: 10px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	overflow: auto;
}
body.no-literate .content pre > code {
	-webkit-overflow-scrolling: touch;
}
body.no-literate .content pre > code::-webkit-scrollbar {
	width: 15px;
	height: 15px;
}
body.no-literate .content pre > code::-webkit-scrollbar-thumb {
	background: #ddd;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: solid 4px #f3f6fb;
}
body.no-literate .content pre > code:hover::-webkit-scrollbar-thumb {
	background: #999;
	-webkit-box-shadow: inset 2px 2px 3px rgba(0,0,0,0.2);
	box-shadow: inset 2px 2px 3px rgba(0,0,0,0.2);
}
@media (max-width: 1180px) {
	.content pre > code {
		background: #f3f6fb;
		border: solid 1px #e7eaee;
		border-top: solid 1px #dbdde2;
		border-left: solid 1px #e2e5e9;
		display: block;
		padding: 10px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		overflow: auto;
	}
	.content pre > code {
		-webkit-overflow-scrolling: touch;
	}
	.content pre > code::-webkit-scrollbar {
		width: 15px;
		height: 15px;
	}
	.content pre > code::-webkit-scrollbar-thumb {
		background: #ddd;
		-webkit-border-radius: 8px;
		border-radius: 8px;
		border: solid 4px #f3f6fb;
	}
	.content pre > code:hover::-webkit-scrollbar-thumb {
		background: #999;
		-webkit-box-shadow: inset 2px 2px 3px rgba(0,0,0,0.2);
		box-shadow: inset 2px 2px 3px rgba(0,0,0,0.2);
	}
}
.button {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: Lato, sans-serif;
	letter-spacing: -1px;
	font-weight: bold;
	display: inline-block;
	padding: 3px 25px;
	border: solid 2px $primary;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-right: 15px;
}
.button,
.button:visited {
	background: $primary;
	color: #fff;
	text-shadow: none;
}
.button:hover {
	border-color: #111;
	background: #111;
	color: #fff;
}
.button.light,
.button.light:visited {
	background: transparent;
	color: #82A7B0;
	border-color: #82A7B0;
	text-shadow: none;
}
.button.light:hover {
	border-color: #82A7B0;
	background: #82A7B0;
	color: #fff;
}
.content .button + em {
	color: #82A7B0;
}
@media (min-width: 1180px) {
	body:not(.no-literate) .content-root {
		background-color: #F2F2F2;
		-webkit-box-shadow: inset 780px 0 #fff, inset 781px 0 #dfe2e7, inset 790px 0 5px -10px rgba(0,0,0,0.1);
		box-shadow: inset 780px 0 #fff, inset 781px 0 #dfe2e7, inset 790px 0 5px -10px rgba(0,0,0,0.1);
	}
}
@media (min-width: 1180px) {
	body:not(.no-literate) .content {
		padding-left: 0;
		padding-right: 0;
		width: 930px;
		max-width: none;
	}
	body:not(.no-literate) .content > p,
	body:not(.no-literate) .content > ul,
	body:not(.no-literate) .content > ol,
	body:not(.no-literate) .content > h1,
	body:not(.no-literate) .content > h2,
	body:not(.no-literate) .content > h3,
	body:not(.no-literate) .content > h4,
	body:not(.no-literate) .content > h5,
	body:not(.no-literate) .content > h6,
	body:not(.no-literate) .content > pre,
	body:not(.no-literate) .content > blockquote {
		width: 550px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-right: 40px;
		padding-left: 40px;
	}
	body:not(.no-literate) .content > h1,
	body:not(.no-literate) .content > h2,
	body:not(.no-literate) .content > h3 {
		clear: both;
		width: 100%;
	}
	body:not(.no-literate) .content > pre,
	body:not(.no-literate) .content > blockquote {
		width: 380px;
		padding-left: 20px;
		padding-right: 20px;
		float: right;
		clear: right;
	}
	body:not(.no-literate) .content > pre + p,
	body:not(.no-literate) .content > blockquote + p,
	body:not(.no-literate) .content > pre + ul,
	body:not(.no-literate) .content > blockquote + ul,
	body:not(.no-literate) .content > pre + ol,
	body:not(.no-literate) .content > blockquote + ol,
	body:not(.no-literate) .content > pre + h4,
	body:not(.no-literate) .content > blockquote + h4,
	body:not(.no-literate) .content > pre + h5,
	body:not(.no-literate) .content > blockquote + h5,
	body:not(.no-literate) .content > pre + h6,
	body:not(.no-literate) .content > blockquote + h6 {
		clear: both;
	}
	body:not(.no-literate) .content > p,
	body:not(.no-literate) .content > ul,
	body:not(.no-literate) .content > ol,
	body:not(.no-literate) .content > h4,
	body:not(.no-literate) .content > h5,
	body:not(.no-literate) .content > h6 {
		float: left;
		clear: left;
	}
	body:not(.no-literate) .content > h4,
	body:not(.no-literate) .content > h5,
	body:not(.no-literate) .content > .small-heading,
	body:not(.big-h3) body:not(.no-literate) .content > h3 {
		margin-left: 40px;
		width: 470px;
		margin-bottom: 3px;
		padding-left: 0;
		padding-right: 0;
	}
	body:not(.no-literate) .content > table {
		margin-left: 40px;
		margin-right: 40px;
		max-width: 470px;
	}
	body:not(.no-literate):not(.big-h3) .content > h3 {
		margin-left: 40px;
		width: 470px;
		margin-bottom: 3px;
		padding-left: 0;
		padding-right: 0;
	}
}
code .string,
code .number {
	color: $primary;
}
code .init {
	color: #67D367;
}
code .keyword {
	font-weight: bold;
}
code .comment {
	color: #B3B3Bf;
}
.large-brief .content > h1:first-child + p,
.content > p.brief {
	font-size: 1.3em;
	font-family: Open Sans, sans-serif;
	font-weight: 300;
}
.title-area {
	min-height: 100px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	text-align: center;
	border-bottom: solid 1px #dfe2e7;
	overflow: hidden;
}
.title-area > img.bg {
	z-index: 0;
	position: absolute;
	left: -9999px;
}
.title-area > div {
	position: relative;
	z-index: 1;
}
p.info {
	background: $primary;
	color: white;
	padding: 40px !important;
	font-weight: 500;
	font-size: 15px;
	text-shadow: rgba(0,0,0,.2) 1px 1px 1px;

	&.danger {
		background: rgba(232, 133, 103, 1);
	}

	&.info-margin {
		margin: 25px 0 15px;
	}
}