.header {
	background: $primary;
	color: white;
	padding: 20px 15px 20px 30px;
	zoom: 1;
	line-height: 1em;
	position: relative;
}
.header:before,
.header:after {
	content: "";
	display: table;
}
.header:after {
	clear: both;
}
.header .left {
	float: left;
}
.header .right {
	text-align: right;
	position: absolute;
	right: 15px;
	top: 15px;
}
.header .right iframe {
	display: inline-block;
	vertical-align: middle;
}
.header h1 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-weight: bold;
	font-family: Lato, sans-serif;
	font-size: 13px;
}
.header h1,
.header h1 a,
.header h1 a:visited {
	color: #82A7B0;
}
.header h1 a:hover {
	color: #505050;
}
.header li a {
	font-size: 1.1em;
	color: white;
	line-height: 35px;
}
.header li a:hover {
	color: lighten($primary, 30);
}
@media (min-width: 480px) {
	.header h1 {
		float: left;
	}
	.header ul,
	.header li {
		display: block;
		float: left;
	}
	.header ul {
		margin-left: -15px;
	}
	.header h1 + ul {
		border-left: solid 1px #dfe2e7;
		margin-left: 15px;
	}
	.header li {
	}
	.header li:last-child {
		border-right: 0;
	}
	.header li {
		margin: 0 20px;
	}
}
@media (max-width: 480px) {
	.right {
		display: none;
	}
}

.header-nav {
	li.logo {
		padding-right: 25px;
	}
	li.sub-menu > a {
		height: 100%;
		line-height: 25px;
	}
	li.sub-menu > ul {
		display: none;
	}
	li.sub-menu:hover {
		position: relative;
		z-index: 999;

		& > ul {
			display: block;
			background: white;
			float: none;
			position: absolute;
			overflow: auto;
			border-radius: 4px;
			box-shadow: rgba(0,0,0,.15) 1px 1px 4px 2px;
			left: 15px;
			
			li {
				margin: 0;

				&:first-child a {
					padding-top: 20px;
				}

				&:last-child a {
					padding-bottom: 20px;
				}
			}
			li a {
				color: $primary;
				line-height: 1.1em;
				padding: 5px 20px;
				display: block;

				&:hover {
					color: lighten($primary, 30)
				}
			}
		}
	}
}